@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $wheat;
  color: $black;
  font-family: "Montserrat", sans-serif;
  font-size: $regular-size;
  font-weight: $regular-weight;
}

.container {
  margin: auto;
  max-width: $lg;
  padding: 0 20px;
}

.svg-btn {
  background: none;
  border: none;
  cursor: pointer;

  svg {
    height: inherit;
    width: inherit;
  }
}

.orange-btn {
  background-color: $orange;
  color: $white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

/*MAIN STYLE*/
.main {
  min-height: calc(100vh - 102px - 430px);
}
@media screen and (min-width: $md) {
  .main {
    min-height: calc(100vh - 102px - 470px);
  }
}
@media screen and (min-width: $lg) {
  .main {
    min-height: calc(100vh - 102px - 240px);
  }
}
