$common-font: "Montserrat", sans-serif;

$bold: 600;
$medium: 500;
$regular: 400;

$black: #111111;
$dark-purple: #1e1823;
$orange: #fd9222;
$white: #ffffff;
$whet: #fafafa;

$sm: 375px;
$md: 768px;
$lg: 1200px;
